body {
    background-image: url("../images/mariobg.jpg");
}
.niceFont {
    font-family: 'Press Start 2P', cursive;
    color: blanchedalmond;
}
.brickBg{
    background-color: #cc5500;
}
.smallText {
    font-size: 10px;
}
.scoreText{
    font-size: 20px;
}
.lightBg {
    background-color: blanchedalmond;
}
.scoreNum {
    font-size: 40px;
    text-align: center;
    color: #cc5500;
}
.float {
    position: absolute;
    float: left
}
/* @media only screen and (max-width: 275px) {
    .container{
      width: 100%;
      
    }
} */